################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tradingbot/FileContentIndex
/.vs/tradingbot/v17
/.vs
